{{ define "main" }}

<header>
    <h1 class="blog-post-title">
        <a class="text-dark" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </h1>
    {{ partial "post-date" . }}
    {{ partial "post-categories" . }}
    {{ partial "post-tags" . }}
    {{ partial "post-translations" . }}
    <hr>
</header>
<article class="blog-post">
    {{- if isset .Params "lastmod" }}
        <p class="updated text-primary">
        <strong>{{ i18n "updated" }} {{ dateFormat "2006-01-02" (.Lastmod) }}</strong>
        <p>
    {{ end -}}
    <article class="rero-update">
        
    </article>
    {{ .Content }}
</article>

<footer>
    <hr>

    {{ partial "share" . }}

</footer>

{{ end }}
