<section>
    <h4>{{ i18n "contact" }}</h4>
    <ol class="list-unstyled">
        <li>
            <a href="{{ "index.xml" | relLangURL }}" class="badge badge-light">
                <i class="fas fa-rss"></i> RSS (Atom)</a>
        </li>
        <li>
            <a href="https://twitter.com/rero_centrale" class="badge badge-light">
            	<i class="fab fa-twitter"></i> @rero_centrale
            </a>
        </li>
        <li>
            <a href="https://github.com/rero" class="badge badge-light">
            	<i class="fab fa-github"></i> Github</a>
        </li>
        <li>
            <a href="https://gitter.im/rero/reroils" class="">
                <img src="{{ "img/gitter.svg" | relURL }}"></a>
        </li>
        <li>
            <a href="https://www.rero.ch" class="badge badge-light">
                <i class="fas fa-home"></i> RERO</a>
        </li>
		<li>
            <a href="mailto:info@rero.ch" class="badge badge-light">
            	<i class="far fa-envelope"></i> email</a>
        </li>
    </ol>
</section>